<div class="d-flex flex-wrap justify-content-center justify-content-md-start">
  <ng-template ngFor let-goal [ngForOf]="goals" let-i="index" [ngForTrackBy]="trackByFn">
    <img class="goal-logo link" height="130" width="130" [src]="goal.icon" [alt]="goal.value" [ngbPopover]="goalsPopover" [popoverTitle]="goalsPopoverTitle" (hidden)="hidden(goal)" (shown)="shown(goal)" triggers="click" autoClose="outside" popoverClass="sdg-popover" placement="bottom-right">
    <ng-template #goalsPopoverTitle>
      <span class="goal-title" [ngStyle]="{'border-left-color': goal.color}">{{goal.title}}</span>
      <span class="fa fa-info-circle" [ngStyle]="{'color': goal.color}" aria-hidden="true"></span>
    </ng-template>
    <ng-template #goalsPopover>
      <div *ngIf="profileDiscoveryView | async; let discoveryView">
        <a class="goal-link" [routerLink]="getDiscoveryRouterLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, goal, 'selectedPublicationTag')">{{ 'SHARED.SUSTAINABLE_DEVELOPMENT_GOALS.PROFILES_COUNT' | translate:{ count: (profileCount | async) || 0 } }}</a>
      </div>
      <div *ngIf="researchDiscoveryView | async; let discoveryView">
        <a class="goal-link" [routerLink]="getDiscoveryRouterLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, goal, 'tags')">{{ 'SHARED.SUSTAINABLE_DEVELOPMENT_GOALS.RESEARCH_COUNT' | translate:{ count: (researchCount | async) || 0 } }}</a>
      </div>
    </ng-template>
  </ng-template>
</div>
