.home-main {
  .home-content,
  .carousel-caption {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-top: 0;
    padding-bottom: 0;
    .container {
      padding-top: 5px;
      @media (min-width: 376px) {
        padding-top: 9px;
      }
      @media (min-width: 576px) {
        padding-top: 22.5px;
      }
      @media (min-width: 768px) {
        padding-top: 45px;
      }
      @media (min-width: 992px) {
        padding-top: 80px;
      }
      .water-mark {
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        font-weight: bold;
        font-size: 20px;
        color: var(--hero-color);
      }
      .home-stats {
        margin: 40px 0px 20px 0px;
      }
      .home-info {
        .help-text,
        .base-text {
          line-height: 1em;
          font-size: 12px;
          color: var(--hero-color);
          a {
            color: var(--hero-link-color);
          }
          a:hover {
            color: var(--hero-link-hover-color);
            text-decoration: none;
          }
        }
        .help-text {
          font-size: 30px;
          a {
            color: var(--white);
            font-weight: 100;
          }
        }
      }
    }
  }
  .carousel small a,
  .carousel small span {
    color: var(--hero-color);
  }
}

.home-recent,
.home-recent .container,
.home-recent .container .row {
  height: 300px;
}
@media (min-width: 768px) {
  .home-recent,
  .home-recent .container,
  .home-recent .container .row {
    height: 220px;
  }
  .home-recent .container .row {
    margin-top: -25px;
    margin-bottom: -25px;
  }
}
.home-recent {
  .gallery-info {
    line-height: 1em;
    display: inline-block;
    font-size: 15px;
    color: #464646;
  }
}
.sustainable-development-goals {
  p {
    line-height: 1em;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
