<div class="copyright">
  <ul class="list-inline text-center" *ngIf="footer | async; let footer">
    <li class="list-inline-item"><span>{{footer.copyright}}</span></li>
    <li class="list-inline-item"><span>|</span></li>
    <li class="list-inline-item"><a href="https://scholars.library.tamu.edu/terms_scholars">{{ 'FOOTER.COPYRIGHT.TERMS' | translate }}</a></li>
    <li class="list-inline-item"><span>|</span></li>
    <li class="list-inline-item"><a href="https://duraspace.org/vivo">{{ 'FOOTER.COPYRIGHT.POWERED_BY' | translate }}</a></li>
    <li class="list-inline-item"><span>-</span></li>
    <li class="list-inline-item"><a href="https://github.com/TAMULib/scholars-discovery">{{ 'FOOTER.COPYRIGHT.SCHOLARS_DISCOVERY' | translate }}</a></li>
  </ul>
  <!-- <ul class="list-inline text-center">
    <li class="list-inline-item"><span>{{ 'FOOTER.COPYRIGHT.DATE_UPDATED' | translate:{date: (updated | date:'medium')} }}</span></li>
  </ul> -->
</div>