<div class="card-header font-weight-bold text-primary text-capitalize">
  <span>{{section.name}}</span>
  <div class="float-right" *ngIf="section.shared">
    <div class="embed-dropdown d-inline-block" placement="bottom-right" ngbDropdown>
      <i class="fa fa-lg fa-share-alt" aria-hidden="true" ngbDropdownToggle></i>
      <div class="dropdown-menu" ngbDropdownMenu>
        <div class="form-group col-12">
          <label>{{ 'DISPLAY.EMBEDDABLE.LABEL' | translate }}</label>
          <div class="input-group">
            <textarea class="form-control" type="text" rows="4" ng-bind-html [value]="getEmbedSnippet()" #embedCode></textarea>
            <span class="input-group-btn ml-2">
              <i class="fa fa-lg fa-copy" (click)="copyToClipBoard(embedCode, tooltip)" triggers="click" placement="top-left" ngbTooltip="{{ 'DISPLAY.EMBEDDABLE.COPIED' | translate }}" #tooltip="ngbTooltip"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <div *ngIf="!section.paginated" [innerHtml]="section.templateFunction(document) | safeHtml"></div>
  <div *ngIf="section.paginated">
    <div *ngIf="page | async">
      <div *ngIf="getResources() | async as resources">
        <scholars-pagination *ngIf="resources.length > 0" [page]="page" [pageSizeOptions]="pageSizeOptions" [queryPrefix]="section.name">
          <div class="mb-3">
            <ul class="list-group">
              <li class="list-group-item border-0" *ngFor="let resource of getResourcesPage(resources, section.sort, page | async)">
                <div [innerHtml]="section.templateFunction(resource) | safeHtml"></div>
              </li>
            </ul>
          </div>
        </scholars-pagination>
      </div>
    </div>
  </div>
  <div *ngFor="let subsection of section.subsections">
    <scholars-subsection [subsection]="subsection" [document]="document"></scholars-subsection>
  </div>
</div>