<div class="scroll">
  <i class="fa fa-chevron-left my-auto mr-2" (click)="scrollLeft()"></i>
  <div class="scroll-view mx-auto" #scrollView>
    <div class="scroll-item" *ngFor="let item of getItems() | async" [ngClass]="{'hide': item.hidden}">
      <a href="{{item.link}}" class="item-link">
        <div class="item-main">
          <div class="item-image"><img [src]="item.src" alt="{{item.alt}}"></div>
          <div class="item-name">
            <div class="name-person">{{item.name}}</div>
            <div class="name-title">{{item.preferredTitle}}</div>
          </div>
        </div>
        <div class="item-modtime">Updated: {{item.modTime | date: 'MMM d, y, h:mm a'}}</div>
      </a>
    </div>
  </div>
  <i class="fa fa-chevron-right my-auto ml-2" (click)="scrollRight()"></i>
</div>
