:host {
  .scroll {
    display: flex;
    margin: 0px -15px;
    .fa {
      flex-direction: column;
      color: #444
    }
    .fa:hover {
      cursor: pointer;
      color: var(--primary);
    }
    .scroll-view {
      height: 100%;
      width: 100%;
      display: flex;
      overflow-y: hidden;
      align-items: center;
      justify-content: center;

      .scroll-item {
        box-sizing: border-box;
        flex-direction: column;
        margin: 8px;
        box-shadow: 2px 2px 2px 1px var(--gray);
        height: 80px;
        width: 140px;
        font-size: 0.7em;
        text-align: left;
        line-height: 11px;
        transition: all .35s ease-in-out;

        .item-link {
          text-decoration: none;
          color: inherit;
        }

        .item-main {
          box-sizing: border-box;
          height: 70px;
          width: 140px;
          overflow: hidden;
          transition: all .35s ease-in-out;

          .item-image {
            float: left;
            width: 50px;
            margin-top: 4px;
            margin-left: 4px;
            transition: all .35s ease-in-out;

            img {
              float: left;
              height: 45px;
              width: 45px;
              font-size: 0.7em;
              box-shadow: 0.75px 0.75px 0.75px 0.5px var(--gray);
              transition: all .35s ease-in-out;
            }
          }
          .item-name {
            box-sizing: border-box;
            height: 70px;
            width: 140px;
            font-size: 0.8em;
            padding: 4px 4px 0px 4px;
            transition: all .35s ease-in-out;

            .name-person {
              font-weight: bold;
            }
          }
        }
        .item-modtime {
          clear: both;
          height: 10px;
          width: 140px;
          padding: 0px 2px;
          font-size: 0.6em;
          text-align: center;
          transition: all .35s ease-in-out;
        }
      }
      .scroll-item:hover {
        box-shadow: 2px 2px 2px 1px var(--secondary);
        height: 130px;
        width: 185px;
        line-height: 14px;
        transition: all .30s ease-in-out;

        .item-main {
          height: 115px;
          width: 185px;
          transition: all .30s ease-in-out;

          .item-image {
            width: 75px;
            transition: all .30s ease-in-out;

            img {
              height: 70px;
              width: 70px;
              font-size: 1.0em;
              transition: all .30s ease-in-out;
            }
          }
          .item-name {
            height: 115px;
            width: 185px;
            font-size: 1.0em;
            transition: all .30s ease-in-out;
          }
        }
        .item-modtime {
          height: 15px;
          width: 185px;
          font-size: 0.9em;
          transition: all .30s ease-in-out;
        }
      }
      .scroll-item.hide {
        display: none;
      }
    }
  }

}
