<scholars-dialog [dialog]="dialog" *ngIf="routerState | async; let routerState">
  <form novalidate>
    <div  [formGroup]="form" class="form-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fa fa-search"></span>
      </div>
      <input id="filter" name="filter" formControlName="filter" type="text" class="form-control" placeholder="Filter" aria-label="Filter" aria-describedby="filter-entries">
    </div>
  </form>
  <div *ngIf="facet | async; let facet">
    <div *ngIf="sdrFacet | async; let sdrFacet">
      <table class="table table-sm table-striped table-hover">
        <tbody>
          <tr *ngFor="let entry of sdrFacet.entries.content | slice: (page - 1) * pageSize : ((page - 1) * pageSize) + pageSize">
            <td scope="row" [ngSwitch]="facet.type">
              <span *ngSwitchCase="'STRING'">
                <a [routerLink]="routerLink" [queryParams]="getQueryParams(queryParams | async, facet, entry)" queryParamsHandling="merge">
                  <span [innerHTML]="getStringValue(entry) | formalize | safeHtml"></span>
                </a>
                <span> ({{entry.count}})</span>
              </span>
              <span *ngSwitchCase="'NUMBER_RANGE'">
                <a [routerLink]="routerLink" [queryParams]="getQueryParams(queryParams | async, facet, entry)" queryParamsHandling="merge">
                  <span>{{getFacetRangeValue(facet, entry)}}</span>
                </a>
                <span> ({{entry.count}})</span>
              </span>
              <span *ngSwitchCase="'DATE_YEAR'">
                <a [routerLink]="routerLink" [queryParams]="getQueryParams(queryParams | async, facet, entry)" queryParamsHandling="merge">
                  <span>
                    <span>{{entry.value | date:'yyyy':'UTC'}}</span>
                  </span>
                </a>
                <span> ({{entry.count}})</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="sdrFacet.entries.content.length" [pageSize]="pageSize" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</scholars-dialog>
