<div class="search">
  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" *ngIf="discoveryView | async; let discoveryView">
        <scholars-search-box [live]="true" [view]="discoveryView" placeholder="{{ 'SHARED.SEARCH_BOX.VIEW_PLACEHOLDER' | translate: {view:discoveryView.name} }}"></scholars-search-box>
      </div>
    </div>
  </div>
</div>
<scholars-sidebar>
  <div class="container mt-2" *ngIf="discoveryView | async; let discoveryView">
    <div class="headers-row row flex-column-reverse flex-md-row">
      <div class="col-md-8">
        <span class="h4 text-primary">
          <span>{{discoveryView.name}}</span>
          <span *ngIf="query | async; let query">
            <span> {{ 'DISCOVERY.RESULTS' | translate }}:</span>
            <span> {{query}}</span>
          </span>
        </span>
      </div>
      <div class="col-md-4 text-right">
        <span *ngIf="hasExport(discoveryView)" class="column-export">
          <a [href]="getDiscoveryExportUrl(discoveryView, queryParams | async)" download class="btn">
            <span class="fa fa-share" aria-hidden="true"></span>
            <span>{{ 'DISCOVERY.EXPORT' | translate }}</span>
          </a>
        </span>
      </div>
    </div>
    <div class="applied-filters mt-2" *ngIf="filters | async; let filters">
      <span class="badge badge-light p-2 mr-2 mb-2" *ngFor="let filter of filters">
        <span *ngIf="showFilter(discoveryView, filter)">
          <span class="mr-1">{{getFilterField(discoveryView, filter) | formalize}}:</span>
          <span class="mr-2">{{getFilterValue(discoveryView, filter) | formalize}}</span>
          <a class="fa fa-close" [routerLink]="getDiscoveryRouterLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, page | async, query | async, filters, filter)"></a>
        </span>
      </span>
      <span *ngIf="showClearFilters(discoveryView, filters)" class="badge badge-light p-2 mr-2 mb-2">
        <a [routerLink]="getDiscoveryRouterLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, page | async, query | async)">Clear</a>
      </span>
    </div>
    <ul role="tablist" class="list-unstyled mt-3 nav" *ngIf="discoveryViews | async; let discoveryViews" [ngClass]="{ 'nav-tabs': showTabs(windowDimensions | async), 'nav-pills flex-column': !showTabs(windowDimensions | async) }">
      <li class="nav-item" *ngFor="let discoveryView of discoveryViews">
        <a class="nav-link font-weight-bold" [routerLink]="getDiscoveryRouterLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, page | async, query | async)" [class.active]="isActive(discoveryView, url | async)">{{ discoveryView.name }}</a>
      </li>
    </ul>
    <div *ngIf="(loading | async) === false" [@fadeIn]>
      <scholars-pagination *ngIf="documents | async; let documents" [page]="page" [ngSwitch]="discoveryView.layout" [pageSizeOptionsType]="'list'">
        <scholars-grid-view *ngSwitchCase="'GRID'" [view]="discoveryView" [resources]="documents"></scholars-grid-view>
        <scholars-list-view *ngSwitchCase="'LIST'" [view]="discoveryView" [resources]="documents"></scholars-list-view>
      </scholars-pagination>
    </div>
  </div>
</scholars-sidebar>
