<div *ngIf="view">
  <div *ngIf="queryParams | async; let queryParams">
    <div *ngIf="setupForm()">

      <form *ngIf="isBrowserRendered()" (ngSubmit)="onSearch(queryParams)" novalidate>
        <div [formGroup]="form" class="form-group search-box text-center">
          <ng-container *ngTemplateOutlet="searchLabel"></ng-container>
          <label for="search" class="d-none">Search</label>
          <input id="search" type="text" class="form-control" [placeholder]="placeholder" name="query" formControlName="query" [style.box-shadow]="styles?.inputBoxShadow" />
          <ng-container *ngTemplateOutlet="helpLinks"></ng-container>
        </div>
      </form>

      <form *ngIf="isServerRendered()" [action]="getAction()" method="get" novalidate>
        <div [formGroup]="form" class="form-group search-box text-center">
          <ng-container *ngTemplateOutlet="searchLabel"></ng-container>
          <label for="search" class="d-none">Search</label>
          <input id="search" type="text" class="form-control" [placeholder]="placeholder" name="query" formControlName="query" [style.box-shadow]="styles?.inputBoxShadow" />
          <input type="text" class="form-control invisible" name="collection" formControlName="collection" />
          <input type="text" class="form-control invisible" name="facets" formControlName="facets" />
          <input *ngFor="let filter of view.filters" type="text" class="form-control invisible" [name]="getFilterName(filter)" [formControlName]="getFilterName(filter)" />
          <input type="submit" class="d-none" />
          <ng-container *ngTemplateOutlet="helpLinks"></ng-container>
        </div>
      </form>

      <ng-template #searchLabel>
        <span class="search-label d-inline-block" [ngStyle]="styles?.label">{{ 'SHARED.SEARCH_BOX.LABEL' | translate:{organization: (organization | async)} }}</span>
        <span class="fa fa-search form-control-feedback"></span>
      </ng-template>

      <ng-template #helpLinks>
        <small *ngIf="isServerRendered()" class="d-block text-right search-info">
          <!-- <a [routerLink]="['/about']" fragment="searchTips">{{ 'SHARED.SEARCH_BOX.SEARCH_TIPS' | translate }}</a> -->
          <a href="https://scholars.library.tamu.edu/about_scholars/#searchTips">
            <i class="fa fa-info-circle"></i>
            {{ 'SHARED.SEARCH_BOX.SEARCH_TIPS' | translate }}
          </a>
          <span> | </span>
          <a [routerLink]="getDiscoveryRouterLink()" [queryParams]="getDefaultDiscoveryQueryParams()">{{ 'SHARED.SEARCH_BOX.ADVANCED_SEARCH' | translate }}</a>
        </small>
        <small *ngIf="isBrowserRendered()" class="d-block text-right search-info">
          <!-- <a [routerLink]="['/about']" fragment="searchTips">{{ 'SHARED.SEARCH_BOX.SEARCH_TIPS' | translate }}</a> -->
          <span (click)="openSearchTips()" class="open-search-tips link">
            <i class="fa fa-info-circle"></i>
            {{ 'SHARED.SEARCH_BOX.SEARCH_TIPS' | translate }}
          </span>
          <span> | </span>
          <a [routerLink]="getDiscoveryRouterLink()" [queryParams]="getDefaultDiscoveryQueryParams()">{{ 'SHARED.SEARCH_BOX.ADVANCED_SEARCH' | translate }}</a>
        </small>
      </ng-template>

    </div>
  </div>
</div>
