:host {
  width: 100%;
  .index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-gap: 8px;
    text-align: center;
    .option {
      white-space: nowrap;
    }
    .option:hover {
      cursor: pointer;
    }
  }
  .headers-row {
    .column-export {
      .btn {
        color: var(--sidebar-button-color);
        background-color: var(--sidebar-button-background-color);
        border: 1px solid var(--sidebar-button-border-color);
        font-size: 0.9em;
        padding: 5px 10px 4px;
        .fa {
          padding-right: 0.3em;
        }
      }
      .btn:active,
      .btn:hover {
        color: var(--sidebar-button-hover-color);
        background-color: var(--sidebar-button-hover-background-color);
      }
      .btn:focus {
        box-shadow: 0 0 0 0.2rem var(--sidebar-button-focus-shadow-color);
      }
    }
  }
}
