/* You can add global styles to this file, and also import other style files */

@import "styles/variables";
@import "styles/imports";
@import "styles/mixins";
@import "styles/overrides";

html {
  overflow-y: scroll;
}

body {
  font-family: "Lato", Calibri, Arial, sans-serif;
  min-width: 320px;
  .search {
    background: var(--search-gradient);
  }
  .link {
    color: var(--link-color);
  }
  .link:hover {
    color: var(--link-color-hover);
    text-decoration: none;
    cursor: pointer;
  }
  a {
    color: var(--link-color);
  }
  a:hover {
    color: var(--link-color-hover);
  }

  padding-right: 0px !important;
}

.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: #f7f7f7;
}

.sdg-popover {
  box-shadow: 2px 2px 5px #888888;
}
