<scholars-dialog [dialog]="dialog">
  <ul>
    <li>Searches are not case-sensitive</li>
    <li>Type keywords using AND or OR logic (AND or OR must be capitalized)
      <ul>
        <li>eg., nutrition AND protein</li>
        <li>eg., nutrition OR protein</li>
      </ul>
    </li>
    <li>Type your phrase with double quotation marks
      <ul>
        <li>eg., "glucose absorption"</li>
        <li>eg., "glucose absorption" AND nutrition</li>
      </ul>
    </li>
    <li>Use wildcard * character to search variations
      <ul>
        <li>eg., bio*</li>
      </ul>
    </li>
  </ul>
</scholars-dialog>
